.InputfieldRepeaterMatrix .rrm-show { display:block !important; }

/* Fix for nbsp dividers */
.InputfieldRepeaterMatrixAddItem { overflow:hidden; }
.InputfieldRepeaterMatrixAddItem span { float:left; margin-right:0.5em; }
.InputfieldRepeaterMatrixAddLink { float:left; margin-right:1em; }
