.InputfieldRepeaterMatrix .rrm-show {
  display: block !important; }
.InputfieldRepeaterMatrix[data-add-type="1"] > .InputfieldContent > .InputfieldRepeaterMatrixAddItem {
  overflow: hidden; }
  .InputfieldRepeaterMatrix[data-add-type="1"] > .InputfieldContent > .InputfieldRepeaterMatrixAddItem span {
    float: left;
    margin-right: 0.5em; }
  .InputfieldRepeaterMatrix[data-add-type="1"] > .InputfieldContent > .InputfieldRepeaterMatrixAddItem .InputfieldRepeaterMatrixAddLink {
    float: left;
    margin-right: 1em; }
